*{
    margin: 0;
    padding: 0;
}
.dpPanel {
    height: 30px;
    line-height: 30px;
    /*width: 230px;*/
    width: auto;
    position: relative;
}

.dpPanel .dp-select-input {
    display: inline-block;
}

.dpPanel ul {
    padding: 2px 2px;
}

.dpPanel li:hover {
    background-color: #e8e8e8;
}

.dpPanel li {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding-left: 18px;
    list-style: none;
}

.dp-container {
    position: absolute;
    top: 36px;
    background: #fdfdfd;
    border: 1px solid #b4b4b4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    z-index: 310;
    width: 100%;
}

.dpPanel .customhref {
    height: 30px;
    width: 100%;
    border-top: 1px solid #C6C6C6;
    border-bottom: 1px solid #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: #333;
    display: block;
}

.J_dp_container {
    display: none;
}
.datePickPlaceholder {
    display: none;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #b4b4b4;
    width: 200%;
    border-radius: 5px;
}
.datetimepicker{
	display: inline-block;
}
.datePickPlaceholder .myDp{
	display: inline-block;
}
.datePickPlaceholder .form-control1{
	display: inline-block;
	width: auto;
}


.m10{
    margin: 10px;
}